@import url('https://fonts.googleapis.com/css?family=Dosis:400,500,600,700,800');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  background: url('../public/background.png') repeat;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
